# =========================
# PYTHON & BACKEND
# =========================
.env
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# =========================
# VITE, REACT & FRONTEND
# =========================
node_modules/
dist/
dist-ssr/
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# OS & EDITOR FILES
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/