@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Outward';
  src: url('./fonts/outward-borders-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family:'Nippo';
  src: url('./fonts/Nippo-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Melodrama';
  src: url('./fonts/Melodrama-Semibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}